ul {
  list-style-type: none;
  margin: 1px;
  padding: 0,5px 30px;
  overflow: hidden;
  background-color: hsl(204, 89%, 63%);
}

li {
  float: left;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: x-large;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1d9df3;
}

#rech {
  
  float: right;
}
a {
    
} 
